
<div class="text-center my-3">

<h2>Reservation List</h2> 

<ul *ngIf="reservations.length; else noReservations">
  <li *ngFor="let reservation of reservations">
    Guest: {{ reservation.guestName }} <br>
    Email: {{ reservation.guestEmail }} <br>
    Check-in: {{ reservation.checkInDate }} <br>
    Check-out: {{ reservation.checkOutDate }}
    <button (click)="deleteReservation(reservation.id)">Delete</button>
  </li>
</ul>

<ng-template #noReservations>
  <li>No reservations found.</li>
</ng-template>
</div>